.first {
    color: #000;
    text-decoration: none;
}

.first:visited {
    color: green;
}

.first:hover {
    color: blue;
}
.first:active {
    color: red
}

.second {
    color: blue;
    text-decoration: none;
}

.second:visited {
    color: black;
}

.second:hover {
    color: red;
}
.second:active {
    color: yellow;
}